html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: no-repeat 0% 0% / auto 50% padding-box border-box
    url("img/js.png") white;
  margin: 0;
  padding: 0;
}

#cx-login {
  background-color: #000000aa;
  border: 5px solid gray;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding-bottom: 20px;
}

#cx-login label {
  margin-bottom: 15px;
  width: 70%;
}

#cx-login label input {
  margin-top: 5px;
  height: 30px;
  width: 100%;
}

#msgs {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#cx-login .msg {
  background-color: greenyellow;
  color: green;
  border: 3px solid green;
  width: 70%;
  padding: 10px;
  display: flex;
  margin: 5px;
  position: relative;
}

#cx-login .msg .close {
  font-size: 15px;
  line-height: 15px;
  border: 2px solid;
  width: 15px;
  height: 15px;
  text-align: center;
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
}

#cx-login .msg.error {
  background-color: pink;
  color: red;
  border-color: red;
}

#cx-login .msg img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

#cx-login .msg div {
  line-height: 32px;
}

.btn {
  width: 100px;
  height: 50px;
  line-height: 30px;
  font-size: 18px;
  align-self: flex-end;
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}

.btn:hover {
  border-color: rgb(174, 99, 99);
}
